

/*=======================================
Template Design By MarkUps
Author URI : http://www.markups.io/
========================================*/

.mu-hero-overlay,
.mu-video-overlay {
	background-color: rgba(63, 195, 95, 0.6);/* fallback for old browsers */
	background: -webkit-linear-gradient(to right, rgba(40, 125, 61, 0.6), rgba(63, 195, 95, 0.6));  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, rgba(40, 125, 61, 0.6), rgba(63, 195, 95, 0.6));

}

.mu-primary-btn:hover,
.mu-primary-btn:focus,
.mu-copy-right a:hover,
.mu-copy-right a:focus,
.mu-send-msg-btn:hover,
.mu-send-msg-btn:focus,
.mu-faq-content .panel-title a:hover,
.mu-faq-content .panel-title a:focus,
.mu-faq-content .panel-title a[aria-expanded="true"],
.mu-faq-content .panel-title a>span,
.mu-menu ul li a:hover,
.mu-menu ul li a:focus,
.mu-single-speakers-info p,
.mu-single-speakers-social li a:hover,
.mu-single-speakers-social li a:focus,
.mu-logo,
.mu-logo:hover,
.mu-logo:focus,
#mu-hero .navbar-default .navbar-brand,
.mu-navbar .mu-menu li a:hover,
.mu-navbar .mu-menu li a:focus,
.mu-single-event .mu-event-time {
	color: #3fc35f;
}

.mu-speakers-slider .slick-next,
.mu-speakers-slider .slick-prev,
#mu-venue,
.mu-navbar .navbar-toggle,
.mu-navbar .navbar-toggle:hover,
.mu-navbar .navbar-toggle:focus,
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:focus, 
.navbar-default .navbar-nav > .active > a:hover,
.mu-schedule-menu li a:hover,
.mu-schedule-menu li a:focus,
.mu-schedule-menu li.active a,
.mu-schedule-menu li.active a:hover,
.mu-schedule-menu li.active a:focus {
	background-color: #3fc35f;
}

.mu-single-price .mu-price-tag,
.mu-popular-price .mu-price-tag {
	background-color: rgba(63, 195, 95, 0.8);
}

.mu-social-media a:hover,
.mu-social-media a:focus {
	border: 1px solid #3fc35f;
	color: #3fc35f;
}

.mu-contact-form .form-control:focus,
.mu-schedule-menu li a {
	border: 1px solid #3fc35f;    
} 

.mu-send-msg-btn,
.mu-register-btn:hover,
.mu-register-btn:focus,
.mu-popular-price .mu-register-btn {
	border: 1px solid #3fc35f;
	background-color: #3fc35f;
}

.mu-faq-content .panel-default > .panel-heading + .panel-collapse > .panel-body {
	border-top-color: #3fc35f;

}

.mu-reg-submit-btn:hover,
.mu-reg-submit-btn:focus {
	background-color: #3fc35f;
	border: 2px solid #3fc35f;
}

#mu-register {
	color: white;
}

#mu-register .mu-title {
	color: white;
}


#mu-register::before {
	background-color: rgba(63, 195, 95, 0.7);/* fallback for old browsers */
	background: -webkit-linear-gradient(to right, rgba(40, 125, 61, 0.7), rgba(63, 195, 95, 0.7));  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, rgba(40, 125, 61, 0.7), rgba(63, 195, 95, 0.7));
	bottom: 0;
	content: '';
	left: 0;
	top: 0;
	right: 0;
	position: absolute;
	opacity: 0.9;
}


